{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Welcome To Todolist !</title>
{% endblock title %}

{% block content %}
<div class ="container">
    <center>
        <div class="container">
        <div class="row mt-5 " >
          <div class="col-lg-4">
            <img src="{% static "images/notes.jpg "%}"alt="notes"  class="shadow-lg p-3 mb-5 bg-body rounded" heigth="140" width="300">        
        </div>
          <div class="col-lg-4">
            <img src="{% static "images/notes1.jpg "%}"alt="notes1"  class="shadow-lg p-3 mb-5 bg-body rounded" heigth="140" width="300"> 
          </div>
          <div class="col-lg-4">
            <img src="{% static "images/notes2.jpg "%}"alt="notes2" class="shadow-lg p-3 mb-5 bg-body rounded" heigth="140" width="300"> 
          </div>
    </center>
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <center><p class="h1 text-primary">Task Management Software works to improve the life of project managers.</p></center>
                <center><a href="{% url 'todolist'%}"><button type="button" class="btn btn-primary btn-lg mt-3 shadow-lg">Let's Get Started</button></a></center>
            </div>
        </div>
        </div>
      </div>
{% endblock content %}